<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static',filename='css/M_team.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/M_table_gold.css') }}" rel="stylesheet">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js" integrity="sha512-ElRFoEQdI5Ht6kZvyzXhYG9NqjtkmlkfYk0wr6wHxU9JEHakS7UJZNeml5ALk+8IKlU6jDgMabC3vkumRokgJA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/mod.css">
    <title>MainWeb</title>
</head>
<body>
    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <a href="{{ url_for('index') }}"><img src="static/img/logo.png" width="125px"></a>
                </div>
                <nav>
                    <ul id="MenuItem">
                        <li><a href="{{ url_for('index') }}">Home</a></li>
                        <li><a href="{{ url_for('check') }}">Main</a></li>
                        <li><a href="{{ url_for('chatbot') }}">Chatbot</a></li>
                        <li><a href="{{ url_for('team') }}">Team</a></li>
                    </ul>
                </nav>
            </div>
            <div class="row">
                <div class="col-2">
                    <h1>STEAK GRILL<br>อร่อยระดับพรีเมียมกับสเต๊กสุดพิเศษ</h1>
                    <p>เราคัดสรรเนื้อชั้นเลิศ ปรุงด้วยความพิถีพิถัน พร้อมเสิร์ฟด้วยรสชาติที่คุณจะหลงรัก สัมผัสความอร่อยของสเต๊กที่ย่างด้วยเทคนิคพิเศษในทุกคำ ไม่ว่าคุณจะชอบแบบมีเดียมแรร์หรือเวลดัน ที่นี่มีทุกอย่างที่ตอบโจทย์ทุกความชอบของคุณ!</p>
                </div>
                <div class="col-2">
                    <img src="static/img/img-1.jpg">
                </div>
            </div>
        </div>
    </div>
<!--HEADER-->
<!--INFO-->

<!------footer------->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col-1">
                    <h3>Download Our App</h3>
                    <p>ติดตั้งบนแอป Android และ IOS</p>
                    <div class="app-logo">
                        <a href="https://www.android.com/"><img src="static/img/play-store.png"></a>
                        <a href="https://www.apple.com/ios/ios-15/"><img src="static/img/app-store.png"></a>
                    </div>
                </div>
                <div class="footer-col-2">
                    <h3>" เว็บร้านอาหารสเต๊ก Jakapat "</h3>
                </div>
                <div class="footer-col-3">
                    <h3>Links</h3>
                    <ul class="link">
                        <li><a href="https://kmutnb.ac.th/">KMUTNB</a></li>
                        <li><a href="https://www.facebook.com/FITM.KMUTNB/">FITM</a></li>
                        <li><a href="https://www.facebook.com/INEKMUTNB/">INE</a></li>
                    </ul>
                </div>
                <div class="footer-col-4">
                    <h3>Follow us</h3>
                    <ul>
                        <li><a href="https://www.facebook.com/Joddna">Facbook</a></li>
                        <li><a href="https://www.instagram.com/jod_jakapat/">Instagram</a></li>
                        <li><a href="https://www.youtube.com/channel/UCcD6g_TOz5Z-ugJgROGhbYw">Youtube</a></li>
                    </ul>
                </div>
            </div>
            <hr>
            <p class="copyright">Copyright 2024 - Jakapat Steak house</p>
        </div>
</div>
</body>
</html>